{% extends "base.html" %}
{% block title %}
  About
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        About
      </div>
      <div class="card-body">
        <p>
          Blogicum is a home for creative people. It is a community of people for 
          whom there is no line between blogging and friendship on social networks.
        </p>
        <p>
          Friendship and stories about new, unexplored experiences - that's what you'll find on our resource. Millions of blogs on various topics.
          Travel, politics, entertainment, fashion, literature, design and all
          other areas of human activity.
        </p>
        <p>
          Creativity, diversity and freedom of thought and expression are the core values ​​of our users.
        </p>
      </div>
    </div>
  </div>
{% endblock %}