{% extends "base.html" %}
{% block title %}
  Our rules
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        Site Rules
      </div>
      <div class="card-body">
        <p>
          <b>Self-expression.
          </b> Our users should have the opportunity to create something of their own, to express themselves, their thoughts and feelings.
        </p>
        <p>

          <b>Diversity.</b> We respect and welcome different opinions and cultures.
           Blogicum is a place where different people come together. Share your unique perspective on the world.
        </p>
        <p>
          <b>Creativity.</b> It doesn't matter what field you create in,
          it could be literature, design, programming.
          Our tools will help you to reveal your talent as simply and comfortably as possible.
        </p>
        <p>
          <b>Personality.</b> We will keep your innermost thoughts private.
          Share your information only with those you choose.
          How and to what extent to keep your personal information secret is determined by you and only you.
        </p>
      </div>
    </div>
  </div>
{% endblock %}